body {
	background-color: #ececec;
}

.wrapper {
	margin: 0 auto;
	max-width: 80rem;
	
}

@media (max-width: 768px) {
	.nav .nav__list{
		display:  none;
		}
  }
  
 @media (min-width: 768px){
 
 
 
 
 }