body {
	background-color: #ececec;
}

.wrapper {
	margin: 0 auto;
	max-width: 80rem;
	display:flex;
	flex-flow: row wrap;
	text-align: center;
	align-content:center;
	flex: 1 100%;
}

@media (max-width: 768px) {
	.nav .nav__list{
		display:  none;
		}
  }
  
 @media (min-width: 768px){
	.logo .nav{
		align-self:center;
	
	}
	.header{
		flex:3;
	}
	.aside{
		flex:1;
		order:3;
	}
	.article{
		flex:1;
		order:2;
	}
	.footer{
		flex:3;
	}
	
   }
   
   l